extends ../../layout/layout
block content
    .uk-container.uk-padding
        #profile-grid(class="uk-child-width-expand uk-padding" uk-grid)
            div(class="uk-width-2-3@l")
                header#profile-header
                    img.uk-align-center.uk-border-circle(data-src=`https://admin.rootedpsychotherapy.org/wp-content/uploads/${clinician.clinician._embedded['wp:featuredmedia'][0].media_details.file}` width="100" height="100" alt="Image of a faceless torso" uk-img)
                    h2.uk-text-center=clinician.clinician.title.rendered
                div
                    h3#description.uk-text-primary Description
                    if clinician.clinician.content.rendered
                        !=clinician.clinician.content.rendered
                    else
                        p Clinician description pending...
                    h3#focus.uk-text-primary Client Focus
                    div(class="uk-child-width-1-2@m" uk-grid)
                        div
                            h4 Ages Served
                            ul.uk-list.uk-padding-small.uk-list-bullet                                    
                                if clinician.ages
                                    each age in clinician.ages
                                        li.uk-text-capitalize=age
                                else
                                    li Information pending...
                        div
                            h4 Communities
                                    
                            if clinician.clinician._embedded['wp:term'][4].length
                                ul.uk-list.uk-padding-small.uk-list-bullet
                                    each community in clinician.clinician._embedded['wp:term'][4]
                                        li=community.name
                            else
                                ul
                                    li Information pending...
                    h3#issues.uk-text-primary Issues
                    if clinician.issues.length
                        ul.uk-list.uk-list-bullet.uk-padding-small
                            each issue in clinician.issues
                                li=issue
                    else
                        ul.uk-list.uk-list-bullet.uk-padding-small
                            li Information Pending
                       
                    h3#approach.uk-text-primary Treatment Approach
                    div(class="uk-child-width-1-2@m" uk-grid)
                        div
                            h4 Types of Therapy
                            ul.uk-list.uk-padding-small.uk-list-bullet  
                                if clinician.clinician._embedded['wp:term'][3].length
                                    each ttype in clinician.clinician._embedded['wp:term'][3]
                                        li=ttype.name
                                else
                                    li Information pending...
                        div
                            h4 Modality
                            if clinician.modalities 
                                ul.uk-list.uk-list-bullet.uk-padding-small  
                                    each modality in clinician.modalities
                                        li=modality
                            else
                                ul.uk-list
                                    li Information pending...


            div(class="uk-visible@l uk-width-1-3@l uk-padding")
                div(uk-sticky="offset: 90" class="uk-sticky uk-sticky-fixed" style="z-index: 1")
                    header.uk-text-center    
                        h2 About
                            br
                            =clinician.clinician.title.rendered

                    div.uk-padding
                        ul(class="uk-nav uk-nav-default" uk-scrollspy-nav="closest: li; scroll: true; offset: 100")
                            li
                                a(href="#profile-header") Profile
                            li
                                a(href="#description") Description
                            li
                                a(href="#focus") Client Focus
                            li
                                a(href="#issues") Issues
                            li
                                a(href="#approach") Treatment Approach

