extends ../layout/layout
block content
    - const days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
    - const months = ['January','February','March','April','May','June','July','August','September','October','November','December']
    .uk-container.uk-padding
        if !pageType
            h1.uk-text-center Check Out Our Most Recent Posts
        if postList.length && pageType == "category"
            h1.uk-text-center 
                | Check Out Our Most Recent Posts for 
                =postList[0]._embedded['wp:term'][0][0].name
        if postList.length && pageType == "author"
            h1.uk-text-center 
                | Check Out Our Most Recent Posts by 
                =postList[0]._embedded.author[0].name
        if stickyList && stickyList.length
            div(class="uk-child-width-1-1@s" uk-grid="masonry: true")
                each post in stickyList
                    div
                        div(class="uk-card uk-card-primary uk-card-hover")
                            if post._embedded['wp:featuredmedia']
                                .uk-card-media-top
                                    div(class="uk-background-blend-multiply uk-background-primary uk-height-small uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src=`${post._embedded['wp:featuredmedia'][0].media_details.sizes.medium_large.source_url}` uk-img alt=`${post._embedded['wp:featuredmedia'][0].alt_text}` width="580" height="350")
                            .uk-card-body.uk-padding
                                h3(class="uk-card-title uk-margin-remove-bottom" style="word-wrap: breakword; -ms-word-wrap: break-word;")
                                    a(href=`/blog/${post.slug}` class="uk-button uk-button-text uk-text-large")
                                        !=post.title.rendered
                                - var d = new Date(post.date)
                                - const dayIndex = d.getDay()
                                - const monthIndex = d.getMonth()
                                - var dayName = days[dayIndex]
                                - var monthName = months[monthIndex]
                                - var year = d.getFullYear()
                                - var displayDate = dayName + " " + monthName + " " + d.getDate() + ", " + year + " by "
                                p.uk-text-meta.uk-margin-remove-top
                                    time(datetime=`${post.date}`)=displayDate
                                    a(href="#")=post._embedded.author[0].name
                                p!=post.excerpt.rendered
                                .uk-card-footer.uk-text-right
                                    a(href=`/blog/${post.slug}` class="uk-button uk-button-primary") Read More

        if postList && postList.length
            div(class="uk-child-width-1-2@s uk-child-width-1-3@xl" uk-grid="masonry: true")
                each post in postList
                    div
                        div(class="uk-card uk-card-default uk-card-hover")
                            if post._embedded['wp:featuredmedia']
                                .uk-card-media-top
                                    div(class="uk-background-blend-multiply uk-background-primary uk-height-small uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src=`${post._embedded['wp:featuredmedia'][0].media_details.sizes.medium_large.source_url}` uk-img alt=`${post._embedded['wp:featuredmedia'][0].alt_text}` width="580" height="350")
                            .uk-card-body.uk-padding
                                h3(class="uk-card-title uk-margin-remove-bottom" style="word-wrap: breakword; -ms-word-wrap: break-word;")
                                    a(href=`/blog/${post.slug}` class="uk-button uk-button-text uk-text-large")
                                        !=post.title.rendered
                                - var d = new Date(post.date)
                                - const dayIndex = d.getDay()
                                - const monthIndex = d.getMonth()
                                - var dayName = days[dayIndex]
                                - var monthName = months[monthIndex]
                                - var year = d.getFullYear()
                                - var displayDate = dayName + " " + monthName + " " + d.getDate() + ", " + year + " by "
                                p.uk-text-meta.uk-margin-remove-top
                                    time(datetime=`${post.date}`)=displayDate
                                    a(href=`/blog/author/${post._embedded.author[0].slug}`)=post._embedded.author[0].name
                                p!=post.excerpt.rendered
                                .uk-card-footer.uk-text-right
                                    a(href=`/blog/${post.slug}` class="uk-button uk-button-secondary") Read More
            if Number(headers['x-wp-totalpages']) > 1
            -var olderPosts = Number(pageNumber)+1
            -var newerPosts = Number(pageNumber)-1
                if pageType == "blog"
                    - var route = "/blog/page/"
                if pageType == "author"
                    - var route = `/blog/author/${authSlug}/page/`
                if pageType == "category"
                    - var route = `/blog/category/${catSlug}/page/`
            
                ul(class="uk-pagination uk-flex-center" uk-margin)
                    if headers['x-wp-totalpages'] > Number(pageNumber)
                        li
                            a(href=`${route}${olderPosts}`)
                                span(class="uk-margin-small-right" uk-pagination-previous) 
                                | Older Posts
                    if Number(pageNumber) > 1
                        li
                            a(href=`${route}${newerPosts}`)
                                | Newer Posts
                                span(uk-pagination-next class="uk-margin-small-left")

        if postList && stickyList && !postList.length && !stickyList.length
            p.uk-text-center Please check back later. We're working on our first post now.                    
                        
    